* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: floralwhite;
}

.title {
  color: #1e90ff;
  margin: 16px;
  padding: 3px;
}

.underline {
  color: #3ba71a;
  font-size: 22px;
}

.dist-info {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  box-shadow: 5px 3px 0px 1px rgb(194, 187, 187);
  margin-bottom: 15px;
  padding: 8px;
}

h4,
p {
  padding: 5px;
  color: #1e90ff;
  text-transform: uppercase;
}

.btn-container {
  background-color: #e6ebf3;
  height: 60px;
  margin-top: 15px;
}

.btn {
  margin: 12px;
  background-color: rgb(202, 219, 226);
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
  color: saddlebrown;
  width: 75px;
  border-radius: 5px;
}